<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the Meeting Planner!</h1>
    <p>This is a web ap!</p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2>Rooms</h2>
    <a href="{% url 'rooms' %}">Rooms list</a>
</body>
</html>